<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<h1>Listing games</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Team</th>
      <th>Opponent</th>
      <th>Team score</th>
      <th>Opponent score</th>
      <th>Date</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= @teams.find(game.team_id).name %></td>
        <td><%= @teams.find(game.opponent_id).name %></td>
        <td><%= game.team_score %></td>
        <td><%= game.opponent_score %></td>
        <td><%= game.date %></td>
        <td><%= game.location %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Listing players</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= @scores %>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>

<table class="table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Semester</th>
      <th>League</th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.year %></td>
        <td><%= tournament.semester %></td>
        <td><%= League.find(tournament.league_id).name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<table class="table">
  <thead>
      <tr>
        <th>Games Played</th>
        <th>Points</th>
        <th>Goals Favor</th>
        <th>Goals Against</th>
        <th>Goals Difference</th>
      </tr>
  </thead>
<tbody>
  <% @team.tournaments.each do |tournament| %>
      <% score=@scores[tournament] %>
      <tr><%= tournament.year%></tr>
      <tr>
        <td><%= score[:games_played] %></td>
        <td><%= score[:points] %></td>
        <td><%= score[:goals_favor] %></td>
        <td><%= score[:goals_against] %></td>
        <td><%= score[:goal_difference] %></td>
      </tr>
      <% end %>
  </tbody>
</table>
Current:
<%= @current_tournament %>