<%= form_for(@player_team_tournament) do |f| %>
  <% if @player_team_tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_team_tournament.errors.count, "error") %> prohibited this player_team_tournament from being saved:</h2>

      <ul>
      <% @player_team_tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= collection_select(:league, :id, League.all, :id, :name,:prompt => "Elija liga") %>
  </div>
  <div class="field">
    <%= f.select :player_id, options_from_collection_for_select(@players, "id", "name", @player_team_tournament.player_id) %> 
  </div>
  <div class="field">
  <%= f.select :team_id, options_from_collection_for_select(@teams, "id", "name", @player_team_tournament.team_id) %> 
  </div>
  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.number_field :tournament_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
