      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title"><%= raw @article.title %></h2>
            <p class="blog-post-meta">Creado: <%= @article.created_at.strftime("%d-%m-%y") %>
            <%= raw @article.content %>
        </div><!-- /.blog-main -->
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Otras noticas</h4>
          </div>
          <% @articles.each do |article| %>
              <% if article != @article %>
				<img src=<%= article.thumbnail %>>
				 <%= link_to article.title, article %>
				    <% end %>
		    <% end %>		

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
