<h1>Listing team_tournaments</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Tournament</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_tournaments.each do |team_tournament| %>
      <tr>
        <td><%= team_tournament.team_id %></td>
        <td><%= team_tournament.tournament_id %></td>
        <td><%= link_to 'Show', team_tournament %></td>
        <td><%= link_to 'Edit', edit_team_tournament_path(team_tournament) %></td>
        <td><%= link_to 'Destroy', team_tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team tournament', new_team_tournament_path %>
