<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @tournament.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @tournament.semester %>
</p>

<p>
  <strong>League:</strong>
  <%= League.find(@tournament.league_id).name %>
</p>


<h1>Listing teams</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Partidos Jugados</th>
      <th>Goles a Favor</th>
      <th>Goles en Contra</th>
      <th>Diferencia de goles</th>
      <th>Puntos</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team.id) %></td>
        <td><%= team.score(@tournament)[:games_played]%></td>
        <td><%= team.score(@tournament)[:goals_favor]%></td>
        <td><%= team.score(@tournament)[:goals_against]%></td>
        <td><%= team.score(@tournament)[:goal_difference]%></td>
        <td><%= team.score(@tournament)[:points]%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Partidos</h1>
<div class="bs-example">
    <ul class="nav nav-tabs">

      <% for i in 1..12 %>
        <li><a data-toggle="tab" href=<%="#Fecha"+i.to_s%>><%="Fecha "+i.to_s%></a></li>
      <% end %>
      </ul>
        <div class="tab-content">
      <% for i in  1..12%>
        <div id= <%="Fecha"+i.to_s%> class="tab-pane fade">
            <table class="table table-bordered">
  <thead>
    <tr>
      <th>Team</th>
      <th>Opponent</th>
      <th>Team score</th>
      <th>Opponent score</th>
      <th>Date</th>
      <th>Location</th>      
      <th>Liga</th>
      <th>fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <% if game.fecha==i %>
        
        <tr>
        <td><img src=<%=game.team.logo_link  %> border="0" style="height:50px; width:50px;" /></a><%= link_to game.team.name, team_path(game.team.id) %></td>
        <td><img src=<%=game.opponent.logo_link  %> border="0" style="height:50px; width:50px;" /><%= link_to game.opponent.name, team_path(game.opponent.id) %></td>
          <td><%= game.team_score %></td>
          <td><%= game.opponent_score %></td>
          <td><%= game.date %></td>
          <td><%= game.location %></td>
          <td><%= game.tournament.league.name %></td>
          <td><%= game.fecha %></td>
          <td><%= link_to 'Show', game %></td>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
        </div>
      <% end %>       
      </div>
