<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @tournament.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @tournament.semester %>
</p>

<p>
  <strong>League:</strong>
  <%= League.find(@tournament.league_id).name %>
</p>


<h1>Listing teams</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>