<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @tournament.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @tournament.semester %>
</p>

<p>
  <strong>League:</strong>
  <%= @tournament.league_id %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
