<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= collection_select(:league, :id, League.all, :id, :name,:prompt => "Elija liga") %>
  </div> 
  <div class="field"> 
  <%= f.select :team_id, options_from_collection_for_select(@teams, "id", "name", @game.team_id) %> 
  </div>  
  <div class="field"> 
  <%= f.select :opponent_id, options_from_collection_for_select(@teams, "id", "name", @game.opponent_id) %> 
  </div>
  <div class="field">
    <%= f.label :team_score %><br>
    <%= f.number_field :team_score %>
  </div>
  <div class="field">
    <%= f.label :opponent_score %><br>
    <%= f.number_field :opponent_score %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.number_field :tournament_id %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.number_field :fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
