<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @game.team.name %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @game.opponent.name %>
</p>

<p>
  <strong>Team score:</strong>
  <%= @game.team_score %>
</p>

<p>
  <strong>Opponent score:</strong>
  <%= @game.opponent_score %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<%= render 'player_game_statistics/form' %>
<% @team_players.each do |player|%>
  <%= player.name %>
<% end %>
<% @opponent_players.each do |player|%>
  <%= player.name %>
<% end %>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
