<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @player_goal.player_id %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @player_goal.tournament_id %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @player_goal.goals %>
</p>

<%= link_to 'Edit', edit_player_goal_path(@player_goal) %> |
<%= link_to 'Back', player_goals_path %>
