<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
<% if @player.photo_link %>
<img src=<%= @player.photo_link  %> style="height:200px;width:200px;" border="0"/>
<% end %>

<p>
  <strong>Equipo actual:</strong>
		<%= @team.name %>
</p>
  <strong>Peso actual:</strong>
	<%= @player.weight %>
</p>
  <strong>Altura actual:</strong>
	<%= @player.height %>
</p>
  <strong>Position actual:</strong>
	<%= @player.position %>
</p>
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
