<%= form_for(stat, remote: true) do |f| %>
  <% if stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
      <% stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="field hidden">
        <%= f.number_field :game_id %>
      </div>
      <div class="field hidden">
        <%= f.number_field :player_id %>
      </div>
      <div class="field col-lg-1">
        <%= f.number_field :goals, :style=> 'width: 40px'%>
      </div>
      <div class="field col-lg-1">
        <%= f.number_field :yellow_cards, :style=> 'width: 40px' %>
      </div>
      <div class="field col-lg-1">
        <%= f.number_field :red_cards, :style=> 'width: 40px' %>
      </div>
      <div class="field col-lg-1">
        <%= f.number_field :two_minutes, :style=> 'width: 40px' %>
      </div>
<% end %>
