<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <title>De Tendida</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if protect_against_forgery? %>
  <script>
    window._auth_token_name = "<%= request_forgery_protection_token %>";
    window._auth_token = "<%= form_authenticity_token %>";
  </script>
<% end %>
</head>
<body>
<div class="wrapper">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><b>De Tendida</b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= controller.class == ArticlesController ? 'active' : '' %>"><a href="/articles">Noticias</a></li>
        <li class="<%= controller.class == GamesController ? 'active' : '' %>"><a href="/games">Partidos</a></li>
        <li class="dropdown <%= (controller.class == LeaguesController)||(controller.class == TournamentsController) ? 'active' : '' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ligas <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/leagues">Todas las ligas</a></li>
            <li class="divider"></li>
            <li><a href="/leagues/1">Liga de honor Masculino</a></li>
            <li><a href="/leagues/2">Liga de honor Femenino</a></li>
            <li class="divider"></li>
            <li><a href="/leagues/4">Primera B Femenina</a></li>
            <li><a href="/leagues/3">Primera B Masculino</a></li>
          </ul>
        </li>
        <li class="<%= controller.class == TeamsController ? 'active' : '' %>"><a href="/teams">Equipos</a></li>
        <li class="<%= controller.class == PlayersController ? 'active' : '' %>"><a href="/players">Jugadores</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      <form class="navbar-form navbar-left" role="search" action="/search/index" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar" name="query">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
      </form>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% if notice %>
<p class="notice" id="notice"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert" id="alert"><%= alert %></p>
<% end %>
<div class="container">
<%= yield %>

</div>
</div>
<footer class="footer panel-footer" id="footer">
<p class="small text-center">Copyright 2015 all rights reserved Athelatics&reg </p>
    </footer>
</body>
</html>
